<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Flights{% endblock %}</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
    <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
  </head>
  <body>
    <script src="/static/javascript/gears_init.js"></script>
    <script src="/static/javascript/geo.js"></script>
    <script src="/static/javascript/geolookup.js"></script>
    {% block content %}
    
    {% endblock %}
  </body>
</html>
