{% extends "base.html" %}

{% block content %}

<div data-role="page" id="airports">
  <div data-role="header" data-theme="b">
    <h1>Select Airport</h1>
  </div>
  <div data-role="content" data-theme="b">
    <ul data-role="listview" data-filter="true">
      {% for airport in airports %}
      <li>
	<a href="airport/{{airport.code}}" rel="external">{{ airport.name }} ({{ airport.code }}) </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div data-role="footer" class="ui-bar" data-position="fixed" data-theme="b">
    <a href="#" onclick="lookup_location();" data-role="button" data-inline="true">Closest Airport</a>	
  </div>
</div>
{% endblock %}
